<h1>Event Page</h1>

<ul>
    <li><%= @event.name %></li>
    <li><p>This is a dumm-e description!</p></li>

    <p>Click below to see if joining an event works!</p>
    <%= button_to 'Join Event', invitations_path, params: { event_id: @event.id } %>
</ul>
